body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #7A7C81;
  background: #3E4049;
  margin: 0 auto;
  width: 700px;
  padding: 30px;
  text-align: center;
  
  /* border-radius */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;

}

a {  

            text-decoration: none;  
        }  
          
        a:link {  
            color: #cbcccd;  
        }  
          
        a:visited {  
            color: #7A7C81;  
        }  
          
        a:active {  
            color: #cbcccd;  
        }  
          
        a:hover {  
            color: #cbcccd;  
        }  
div.streams{
    border-radius: 25px;
    background: #060B17;
}
div.brr {
          /* border-radius */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  background: #060B17;
  
  
  }  
